<div *ngIf="error" class="alert alert-danger m-300" role="alert">
	<strong>An error occured</strong>{{error}}
</div>

<div class="login-box">
	<h2> {{ loginmode ?"Sign in":"Sign up"}}</h2>

	<form [formGroup]="Form" (ngSubmit)="onSubmit()">
		<div class="user-box">
			<input formControlName="email" type="email" name="" required="">
			<label>Username</label>
			<small
      *ngIf="!Form.get('email').valid && Form.get('email').touched"
      class="Form-text text-danger "
      text-danger
    >
      Please Enter email</small>
		</div>
		<div class="user-box">
			<input  formControlName="password" type="password" name="" required="">
			<label>Password</label>
			<small
      *ngIf="!Form.get('email').valid && Form.get('email').touched"
      class="Form-text text-danger "
    >
      Please Enter password</small>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">
      {{loginmode?"Sign in":"Sign up"}}
    </button>
		</div>

		<div>
			<p>
				{{ loginmode ?"Don't have Account?":"Already have Account?"}}
				<a href="#" (click)=" onmodeswitch()">
					<span></span>
					<span></span>
					<span></span>
					<span></span>

					{{loginmode?"Sign up":"Sign in"}}</a>
			</p>

		</div>
	</form>

</div>